user_uuid="4695d26c-aa58-4148-9201-a6254268b187"
bucket_name="q6xa3fxmzw4877u1zpva3cnddmaf0yvf"
index_html_filepath="/workspace/terraform-beginner-bootcamp-2023/public/index.html"
error_html_filepath="/workspace/terraform-beginner-bootcamp-2023/public/error.html"
content_version=2